.bio-wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 85vw;
	margin-bottom: 50px;
	height: auto;
	padding-top: 54px;
	position: relative;
}

.bio-photo {
	max-width: 320px;
	max-height: 320px;
	border-radius: 4px;
}

@media screen and (max-width: 768px) {
	.bio-wrapper {
		display: flex;
		flex-direction: column-reverse;
		justify-content: center;
		align-items: center;
		width: 85vw;
		margin-bottom: 50px;
		height: auto;
		padding-top: 54px;
		position: relative;
	}
}
/* 
aboutContainer {
	padding-top: 54px;
	position: relative;
	-webkit-flex-direction: column;
	flex-direction: column;
	-webkit-justify-content: center;
	justify-content: center;
	height: calc(100vh - 54px);
	width: 85vw;
	margin: 0 auto;
} */
