@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;500;600;700&display=swap');

* {
	margin: 0;
	padding: 0;
	text-decoration: none;
	font-family: 'JetBrains Mono', monospace;
}
html,
body {
	min-height: 100%;
	color: white;
	box-sizing: border-box;
}

body {
	background: rgb(41, 41, 41) 0%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

p {
	margin: 16px auto;
	line-height: 1.5em;
	width: 50vw;
}

main {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

img {
	height: 350px;
	width: 500px;
	border-radius: 4px;
}

.bio-photo {
	height: 350px;
	width: 350px;
}
