@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;500;600;700&display=swap');

* {
	margin: 0;
	padding: 0;
	text-decoration: none;
	font-family: 'JetBrains Mono', monospace;
}
html,
body {
	min-height: 100%;
	color: white;
}

body {
	background: rgb(41, 41, 41) 0%;
}

p {
	margin: 16px auto;
	line-height: 1.5em;
}

/* layout & nav */
/* .layout {
  max-width: 1200px;
  margin: 0 auto;
} */

nav {
	display: grid;
	grid-template-columns: 1fr 1fr;
	height: 80px;
	margin: 40px auto;
	color: white;
	position: sticky;
	top: 0;
	height: 80px;
	background: rgb(41, 41, 41) 0%;
}

nav .links {
	display: inline-block;
	text-align: right;
}
nav a {
	display: inline-block;
	margin-left: 20px;
	font-weight: 400;
	padding-bottom: 8px;
	border-bottom: 3px solid transparent;
}

a,
a:focus,
a:active {
	color: inherit;
}

nav a:hover {
	border-color: white;
}
