nav {
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
	font-size: clamp(18px, 4vw, 1.5rem);
	font-weight: 800;
	position: sticky;
	top: 0;
	height: 100px;
	background: #9fafaf;
	width: 100vw;
}

.nav-links {
	margin-left: 20px;
	padding: 8px;
	border-bottom: 3px solid transparent;
	/* width: 4rem; */
	position: relative;
}

.links {
	position: absolute;
	height: fit-content;
	text-decoration: none;
	list-style: none;
	padding: 12px;
	z-index: 99;
	background: rgb(41, 41, 41) 0%;
	border: 1px solid white;
}

.links li {
	padding-bottom: 5px;
}

nav a {
	margin-left: 20px;
	padding: 8px;
	border-bottom: 3px solid transparent;
}

a,
a:focus,
a:active {
	color: inherit;
}

nav a:hover {
	background-color: #cc9393;
}

nav .anchors {
	margin-left: 0px;
	padding-bottom: 0px;
	border-bottom: 3px solid transparent;
}

.nav-links:hover {
	border-color: #cc9393;
}

.anchors:hover {
	border-color: #cc9393;
}
