.project-image {
	height: 250px;
	width: 100%;
	border-radius: 4px;
	transition: all 0.2s ease-in-out;
}
.project-image:hover {
	transform: scale(1.1);
	cursor: pointer;
}

.github-logo {
	height: 36px;
	transition: all 0.2s ease-in-out;
}
.github-logo:hover {
	transform: scale(1.4);
	cursor: pointer;
}
.github-name {
	flex-grow: 1;
}
.project-list {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	width: 85vw;
}
.project-wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 400px;
	margin-right: 25px;
}
.project-name {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 5px;
	margin-top: 10px;
}

#projects {
	padding-bottom: 20px;
	padding-top: 40px;
}
