.top-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: calc(100vh - 100px);
	/* padding-top: 25px; */
	width: 85vw;
}
.inner-top {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 65vh;
}
.name {
	font-size: clamp(3rem, 8vw, 8rem);
	margin-bottom: 3rem;
}
.summary {
	font-size: clamp(1.6rem, 4vw, 4rem);
	/* padding-bottom: 3rem; */
}

/* .arrow {
	color: white;
	position: absolute;
	bottom: 50px;
	left: 50%;
	z-index: 0;
} */

.arrow {
	color: white;
	display: flex;
	margin-top: auto;
	/* z-index: -1; */
}

.bounce-1 {
	animation-duration: 4s;
	animation-iteration-count: infinite;
	animation-name: bounce-1;
	animation-timing-function: ease;
}

@keyframes bounce-1 {
	0% {
		transform: translateY(0);
		opacity: 1;
	}
	50% {
		transform: translateY(50px);
		opacity: 0;
	}
	100% {
		transform: translateY(0);
		opacity: 1;
	}
}

@media screen and (max-width: 768px) {
	.top-container {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		height: calc(100vh - 100px);
		width: 100vw;
	}
}
