.up-arrow {
	color: white;

	/* right: 0; */
	z-index: 1000;
	cursor: pointer;
}
.up-arrow-wrapper {
	position: fixed;
	width: 100%;
	bottom: 40px;
	height: 20px;

	display: flex;
	align-items: flex-end;
	justify-content: flex-end;
}
