.up-arrow {
	color: white;

	/* right: 0; */
	z-index: 1000;
	cursor: pointer;
}
.up-arrow-wrapper {
	position: fixed;
	width: 100%;
	bottom: 40px;
	height: 20px;

	display: flex;
	align-items: flex-end;
	justify-content: flex-end;
}

.bounce-1 {
	animation-duration: 4s;
	animation-iteration-count: infinite;
	animation-name: bounce-1;
	animation-timing-function: ease;
}

@keyframes bounce-1 {
	0% {
		transform: translateY(0);
		opacity: 1;
	}
	50% {
		transform: translateY(50px);
		opacity: 0;
	}
	100% {
		transform: translateY(0);
		opacity: 1;
	}
}
